<div style="margin-top: 50px;" class="row">
    <!--맡아줄개 목록-->
    <div class="col-md-6 order-md-2 mb-4">
        <form action="/care/careupdate/<%= writer[0].caredog_num %>" method="post">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                맡아줄개
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item justify-content-between lh-condensed">
                    <h5>제목</h5>
                    <label for="inputtitle" class="sr-only">제목</label>
                    <input type="text" class="form-control" name="title" id="inputtitle" value="<%= writer[0].title%>">
                </li>
                <li class="list-group-item justify-content-between lh-condensed">
                    <div>
                        <h5>가능 요일</h5>
                        <label for=" inputpossibleday" class="sr-only">가능요일</label>
                        <div class="custom-control custom-checkbox" style="float: left; margin-right: 5%;">
                            <input type="checkbox" class="custom-control-input" value="월요일" id="monday" name="week">
                            <label class="custom-control-label" for="monday">월</label>
                        </div>
                        <div class="custom-control custom-checkbox" style="float: left; margin-right: 5%;">
                            <input type="checkbox" class="custom-control-input" value="화요일" id="tuesday" name="week">
                            <label class="custom-control-label" for="tuesday">화</label>
                        </div>
                        <div class="custom-control custom-checkbox" style="float: left; margin-right: 5%;">
                            <input type="checkbox" class="custom-control-input" value="수요일" id="wednesday" name="week">
                            <label class="custom-control-label" for="wednesday">수</label>
                        </div>
                        <div class="custom-control custom-checkbox" style="float: left; margin-right: 5%;">
                            <input type="checkbox" class="custom-control-input" value="목요일" id="thursday" name="week">
                            <label class="custom-control-label" for="thursday">목</label>
                        </div>
                        <div class="custom-control custom-checkbox" style="float: left; margin-right: 5%;">
                            <input type="checkbox" class="custom-control-input" value="금요일" id="friday" name="week">
                            <label class="custom-control-label" for="friday">금</label>
                        </div>
                        <div class="custom-control custom-checkbox" style="float: left; margin-right: 5%;">
                            <input type="checkbox" class="custom-control-input" value="토요일" id="saturday" name="week">
                            <label class="custom-control-label" for="saturday">토</label>
                        </div>
                        <div class="custom-control custom-checkbox" style="float: left; margin-right: 5%;">
                            <input type="checkbox" class="custom-control-input" value="일요일" id="sunday" name="week">
                            <label class="custom-control-label" for="sunday">일</label>
                        </div>
                    </div>
                </li>
                <li class="list-group-item justify-content-between lh-condensed">
                    <h5>주소</h5>
                    <label for="inputaddress" class="sr-only">주소</label>
                    <p id="a"></p>
                </li>
                <li class="list-group-item justify-content-between bg-light">
                    <div>
                        <h5>체중별 가격</h5>

                        <div style="float: left; margin-right: 5%;">
                            <label for="15downprice">15kg미만</label>
                            <input type="text" class="form-control" name="downprice" id="15downprice"
                                value="<%= writer[0].downprice %>">
                        </div>
                        <div style="float: left; margin-right: 5%;">
                            <label for="15upprice">15kg이상</label>
                            <input type="text" class="form-control" name="upprice" id="15upprice"
                                value="<%= writer[0].upprice %>">
                        </div>
                    </div>
                </li>
                <li class="list-group-item justify-content-between bg-light">
                    <div>
                        <h5>연락처</h5>
                        <label for="inputphonenum" class="sr-only">연락처</label>
                        <input type="text" class="form-control" name="phonenum" id="inputphonenum"
                            value="<%= userr[0].phonenum %>">
                    </div>
                </li>
                <li class="list-group-item justify-content-between bg-light">
                    <div>
                        <h5>기타사항</h5>
                        <label for="inputetc" class="sr-only">기타사항</label>
                        <input type="text" class="form-control" name="etc" id="inputetc" style="height: 100px;"
                            value="<%= writer[0].caredog_etc %>">
                    </div>
                </li>
            </ul>
            <div>
                <input class="btn btn-lg btn-primary " type="submit" value="수정" style="width: 50%; float: left;" name="upload">
                <input class="btn btn-lg btn-warning " type="button" value="취소"
                    onclick="location.href='/care/caredetail/<%= writer[0].caredog_num %>'"
                    style="width: 50%; float: left;">
            </div>
        </form>
    </div>

    <!--지도 넣으세요-->
    
    <input id="lat" value="<%= writer[0].latitude *1 %>" hidden>
    <input id="lng" value="<%= writer[0].longitude * 1%>" hidden>
    <input id="params" value="<%= writer[0].caredog_num%>" hidden>

    <div class="col-md-6 order-md-1" id="map" style="height:700px; width: 600px;">
    </div>
    <div id="clickLatlng"></div>

    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=159e02b7906b31d6e03deeed74352abb&libraries=services"></script>
    <script>
        var lat = document.getElementById('lat').value;
        var lng = document.getElementById('lng').value;
        var params = document.getElementById('params');
        var mapContainer = document.getElementById("map");
        var mapOption = {
            //-------------------------------------- 센터값 디비에 저장 된 걸 호출 해야됨
            center: new kakao.maps.LatLng(lat, lng), // 임의의 지도 중심좌표 , 제주도 다음본사로 잡아봤다.
            level: 3           // 지도의 확대 레벨
        };

        // 지도 생성
        var map = new daum.maps.Map(mapContainer, mapOption);

        // 키워드-좌표 변환 객체를 생성
        var geocoder = new kakao.maps.services.Geocoder();

        var marker = new kakao.maps.Marker(), // 클릭한 위치를 표시할 마커입니다
            infowindow = new kakao.maps.InfoWindow({ zindex: 1 }); // 클릭한 위치에 대한 주소를 표시할 인포윈도우입니다

        searchAddrFromCoords(map.getCenter(), displayCenterInfo);

        kakao.maps.event.addListener(map, 'click', function (mouseEvent) {
            var latlng1 = mouseEvent.latLng;

            $.ajax({
                url: "/care/careupdate/" + params + "?lat=" + latlng1.getLat() + "&lng=" + latlng1.getLng(),
                method: "POST",
                dataType: "JSON",
                success: function (data) {
                    if (data == false) {
                        alert("다시 찍어주세요");

                    }
                    else {
                    }
                }
            })

            searchDetailAddrFromCoords(mouseEvent.latLng, function (result, status) {
                if (status === kakao.maps.services.Status.OK) {
                    var detailAddr = !!result[0].road_address ? '<div>도로명주소 : ' + result[0].road_address.address_name + '</div>' : '';
                    detailAddr += '<div>지번 주소 : ' + result[0].address.address_name + '</div>';
                    a = result[0].road_address.address_name;


                    //ejs id가 a 인 곳에 값을 표현
                    $(document).ready(function () {
                        $("#a").html(a);
                    })

                    // 마커를 클릭한 위치에 표시합니다 
                    marker.setPosition(mouseEvent.latLng);
                    marker.setMap(map);

                    // 인포윈도우에 클릭한 위치에 대한 법정동 상세 주소정보를 표시합니다
                    infowindow.setContent(content);
                    infowindow.open(map, marker);
                }
            });
        });

        // 중심 좌표나 확대 수준이 변경됐을 때 지도 중심 좌표에 대한 주소 정보를 표시하도록 이벤트를 등록합니다
        kakao.maps.event.addListener(map, 'idle', function () {
            searchAddrFromCoords(map.getCenter(), displayCenterInfo);
        });

        function searchAddrFromCoords(coords, callback) {
            // 좌표로 행정동 주소 정보를 요청합니다
            geocoder.coord2RegionCode(coords.getLng(), coords.getLat(), callback);
        }

        function searchDetailAddrFromCoords(coords, callback) {
            // 좌표로 법정동 상세 주소 정보를 요청합니다
            geocoder.coord2Address(coords.getLng(), coords.getLat(), callback);
        }

        // 지도 좌측상단에 지도 중심좌표에 대한 주소정보를 표출하는 함수입니다
        function displayCenterInfo(result, status) {
            if (status === kakao.maps.services.Status.OK) {
                var infoDiv = document.getElementById('centerAddr');

                for (var i = 0; i < result.length; i++) {
                    // 행정동의 region_type 값은 'H' 이므로
                    if (result[i].region_type === 'H') {
                        infoDiv.innerHTML = result[i].address_name;
                        break;
                    }
                }
            }
        }

    </script>
</div>