<div style="margin-top: 50px;" class="row">
    <!--맡아줄개 목록-->
    <div class="col-md-6 order-md-2 mb-2">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            맡아줄개
        </h4>
        <ul class="list-group mb-3">
            <li class="list-group-item justify-content-between lh-condensed">
                <div class="row">
                    <div class="col-3">
                        <h5>제목</h5>
                    </div>
                    <div class="col">
                        <%= care[0].title%>
                    </div>
                </div>
            </li>
            <li class="list-group-item justify-content-between lh-condensed">
                <div class="row">
                    <div class="col-3">
                        <h5>가능요일</h5>
                    </div>
                    <div class="col">
                        <% for(var i = 0; i < week.length; i++){ %>
                        <%= week[i].possible_day%>
                        <% if(i+1 != week.length) { %>
                        ,
                        <% } %>
                        <% } %>
                    </div>
                </div>
            </li>
            <li class="list-group-item justify-content-between lh-condensed">
                <div class="row">
                    <div class="col-3">
                        <h5>주소</h5>
                    </div>
                    <div class="col">
                        <%=care[0].address%>
                    </div>
                </div>
            </li>
            <li class="list-group-item justify-content-between bg-light">
                <div class="row">
                    <div class="col">
                        <h5>체중별 가격</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="float: left; margin-right: 5%;">
                        <h6>15kg미만</h6>
                    </div>
                    <div class="col">
                        <% if(care[0].downprice == null) { %>
                        신청불가
                        <% } else { %>
                        <%= care[0].downprice %>원
                        <% } %>
                    </div>
                    <div class="col" style="float: left; margin-right: 5%;">
                        <h6>15kg이상</h6>
                    </div>
                    <div class="col">
                        <% if(care[0].upprice == null) { %>
                        신청불가
                        <% } else { %>
                        <%= care[0].upprice %>원
                        <% } %>
                    </div>
                </div>
            </li>
            <li class="list-group-item justify-content-between bg-light">
                <div class="row">
                    <div class="col-3">
                        <h5>연락처</h5>
                    </div>
                    <div class="col">
                        <%= care[0].phonenum%>
                    </div>
                </div>
            </li>
            <li class="list-group-item justify-content-between bg-light">
                <div class="row">
                    <div class="col-3">
                        <h5>기타사항</h5>
                    </div>
                    <div class="col">
                        <%= care[0].caredog_etc%>
                    </div>
                </div>
            </li>
        </ul>
        <div>
            <% if(users.userID == care[0].users_id) { %>
            <input class="btn btn-lg btn-warning " type="button" value="수정"
                onclick="location.href='/care/careupdate/<%= care[0].caredog_num%>'" style="width: 50%; float: left;">
            <% } else { %>
            <input class="btn btn-lg btn-primary " type="button" value="신청"
                onclick="location.href='/care/carerequest/<%= care[0].caredog_num%>'" style="width: 50%; float: left;">
            <% } %>
            <input class="btn btn-lg btn-primary " type="button" value="취소" onclick="location.href='/care/carelist'"
                style="width: 50%; float: left;">
        </div>
    </div>

    <!--지도 넣으세요-->
    <div class="col-md-6 order-md-1" id="map" style="height:700px; width: 600px;">
        <!--지도 넣어-->
    </div>

    <input id="lat" value="<%= care[0].latitude *1 %>" hidden>
    <input id="lng" value="<%= care[0].longitude * 1%>" hidden>

    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=159e02b7906b31d6e03deeed74352abb&libraries=services"></script>
    <script>
        var lat = document.getElementById('lat').value;
        var lng = document.getElementById('lng').value;
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = {
                center: new kakao.maps.LatLng(lat, lng), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        // 마커가 표시될 위치입니다 
        var markerPosition = new kakao.maps.LatLng(lat, lng);

        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            position: markerPosition
        });

        // 마커가 지도 위에 표시되도록 설정합니다
        marker.setMap(map);

    // 아래 코드는 지도 위의 마커를 제거하는 코드입니다
    // marker.setMap(null);    
    </script>
</div>